* {
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
}

button {
    padding: 10px 35px;
    border: 0;
    border-radius: 7px;
    background-color: rgb(255, 200, 49);
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: rgb(250, 219, 136);
}

.button--secondery {
    color: rgb(196, 196, 196);
    background-color: black;
}

.button--secondery:hover {
    cursor: pointer;
    background-color: rgb(82, 82, 82);
    color: rgb(156, 156, 156);
}

.hero {
    background-image: url(aset/Image.png);
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.hero * {
    align-self: center;
}

header {
    padding: 5vh 5%;
    display: flex;
    justify-content: space-between;
}

.header--name {
    color: rgb(255, 200, 49);
}

main {
    padding: 30vh 20px;
    text-align: center;
    color: white;
}

main h1 {
    font-size: 50px;
    padding-bottom: 22px;
}

main p {
    font-size: 19px;
    font-weight: 50;
    line-height: 2;
    padding-bottom: 30px;
    color: rgb(196, 196, 196);
}

.card-info {
    padding: 15px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    background-color: black;
}

.card {
    padding: auto;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    color: white;
    text-align: center;
}

.card h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.card p {
    font-size: 12px;
    line-height: 1.5;
    color: rgb(196, 196, 196)
}

.card img{
    margin: 55px;
    padding: 15px;
    background-color: white;
    border-radius: 30px;
}

.sample {
    min-height: 90vh;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 200, 49);
}

.sample--left {
    max-width: 500px;
    align-self: center;
}

.sample--left h2 {
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: 50px;
}

.sample--left p {
    margin-bottom: 20px;
    margin-right: 100px;
    font-size: 14px;
    font-weight: 200;
    line-height: 2;
}

.sample--right {
    max-width: 600px;
    align-self: center;
}

.sample--right img{
    width: 100%;
}

footer {
    padding: 25px 20px;
    background-color: black;
    text-align: center;
    font-weight: 200;
    color: white;
}