* {
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
}

button {
    padding: 10px 35px;
    border: 0;
    border-radius: 7px;
    background-color: rgb(255, 200, 49);
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: rgb(250, 219, 136);
}

.hero {
    background-image: url(aset/Image.png);
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.hero * {
    align-self: center;
}

header {
    padding: 5vh 5%;
    display: flex;
    justify-content: space-between;
}

.header--name {
    color: rgb(255, 200, 49);
}

main {
    padding: 35vh 20px;
    text-align: center;
    color: white;
}

main h1 {
    font-size: 50px;
    padding-bottom: 22px;
}

main p {
    font-size: 19px;
    font-weight: 50;
    padding-bottom: 30px;
    color: rgb(196, 196, 196);
}

.card-info {
    height: 90vh;
    background-color: black;
}

.sample {
    height: 90vh;
    background-color: rgb(255, 200, 49);
}

footer {
    height: 5vh;
    padding: 25px 20px;
    background-color: black;
    text-align: center;
    color: white;
}